@page "/adminunit"
@using DATN.Shared
@layout LayoutAdmin
@inject HttpClient httpClient
@inject NavigationManager Navigation


<style>
    .product-table-container {
        max-height: 600px;
        overflow-y: auto;
    }

        .product-table-container table {
            width: 100%;
        }

    .search-bar, .filter-bar {
        margin-bottom: 20px;
    }
</style>

@if (isLoaded)
{
    <div class="col-md-12 row">
        <div class="col-md-6">
            <button class="btn btn-success" @onclick="() => CreateUnit()">Thêm Đơn Vị</button>
            <hr />
            <h4>Đơn Vị</h4>
            <div class="search-bar">
                <input type="text" class="form-control" placeholder="Tìm Kiếm Đơn Vị..." @oninput="Filter" />
            </div>
            <div class="product-table-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>UnitName</th>
                            <th>UnitDescription</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var unit in filter)
                        {
                            if (unit != null)
                            {
                                <tr>
                                    <td>@unit.UnitName</td>
                                    <td>@unit.UnitDescription</td>
                                    <td class="text-center">
                                        @if (!unit.IsDeleted)
                                        {
                                            <button class="btn btn-primary" @onclick="() => EditUnit(unit.UnitId)">Sửa</button>
                                            <button class="btn btn-danger" @onclick="() => HideUnit(unit.UnitId)">Ẩn</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-warning" @onclick="() => RestoreUnit(unit.UnitId)">Khôi Phục</button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <button class="btn btn-success" @onclick="() => CreateFloor()">Thêm Tầng</button>
            <hr />
            <h4>Tầng</h4>
            <div class="search-bar">
                <input type="text" class="form-control" placeholder="Tìm Kiếm Tầng..." @oninput="FilterFloor" />
            </div>
            <div class="product-table-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>NumberFloor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in filterfloor)
                        {
                            if (item != null)
                            {
                                <tr>
                                    <td>@item.NumberFloor</td>
                                    <td class="text-center">
                                        @if (!item.IsDeleted)
                                        {
                                            <button class="btn btn-primary" @onclick="() => EditFloor(item.FloorId)">Sửa</button>
                                            <button class="btn btn-danger" @onclick="() => HideFloor(item.FloorId)">Ẩn</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-warning" @onclick="() => RestoreFloor(item.FloorId)">Khôi Phục</button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else if (!string.IsNullOrEmpty(errorMessage))
{
    <p class="text-danger">@errorMessage</p>
}
else
{
    <p>Loading...</p>
}

