@page "/adminmenuitem"
@using DATN.Shared
@layout LayoutAdmin
@inject HttpClient httpClient
@inject NavigationManager Navigation


<style>
    .product-table-container {
        max-height: 600px;
        overflow-y: auto;
    }

        .product-table-container table {
            width: 100%;
        }

    .search-bar, .filter-bar {
        margin-bottom: 20px;
    }
</style>

@if (isLoaded)
{
    <button class="btn btn-success" @onclick="() => CreateMenuItem()">Thêm</button>
    <hr />
    <h4>Quản lý danh mục</h4>
    <div class="search-bar">
        <input type="text" class="form-control" placeholder="Tìm kiếm danh mục..." @* @oninput="Filter" *@ />
    </div>
    <div class="product-table-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Menu</th>
                    <th>Product</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in filter)
                {
                    if (item != null)
                    {
                        var connectMenu = listMenu.FirstOrDefault(p => p.MenuId == item.MenuId);

                        if (connectMenu != null)
                        {
                            var connectProduct = listProduct.FirstOrDefault(p => p.ProductId == item.ProductId);

                            if (connectProduct != null)
                            {
                                <tr>
                                    <td>@connectMenu.MenuName</td>
                                    <td>@connectProduct.ProductName</td>
                                    <td class="text-center">
                                        @if (!item.IsDeleted)
                                        {
                                            <button class="btn btn-primary" @onclick="() => EditMenuItem(item.MenuItemId)">Sửa</button>
                                            <button class="btn btn-danger" @onclick="() => Hide(item.MenuItemId)">Ẩn</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-warning" @onclick="() => Restore(item.MenuItemId)">Khôi phục</button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>
    </div>
}
else if (!string.IsNullOrEmpty(errorMessage))
{
    <p class="text-danger">@errorMessage</p>
}
else
{
    <p>Loading...</p>
}

