@page "/createunit"
@using DATN.Shared
@layout LayoutAdmin
@inject HttpClient httpClient
@inject NavigationManager Navigation
@inject LocalStorageService _localStorageService
@inject IJSRuntime JS

<div class="container-fluid p-5 bg-secondary mt-3" style="height: 900px;">
    <div class="col-md-6 m-auto">
        <div class="card shadow-sm bg-white">
            <div class="text-black">
                <h5 class="m-3 p-4 fs-2 text-black">Thêm Đơn Vị</h5>
            </div>
            <div class="card-body col-md-12 m-auto">
                @if (isLoaded)
                {
                    <EditForm Model="@unit" OnValidSubmit="CreateUnit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="form-group col-md-12 mb-3">
                            <label for="UnitName" class="control-label"><strong>UnitName</strong></label>
                            <input id="UnitName" @bind="unit.UnitName" class="form-control" placeholder="UnitName" required />
                            <ValidationMessage For="@(() => unit.UnitName)" />
                        </div>

                        <div class="form-group col-md-12 mb-3">
                            <label for="UnitDescription" class="control-label"><strong>UnitDescription</strong></label>
                            <input id="UnitDescription" @bind="unit.UnitDescription" class="form-control" placeholder="UnitDescription" required />
                            <ValidationMessage For="@(() => unit.UnitDescription)" />
                        </div>

                        <div class="form-group text-center mt-3">
                            <button type="submit" class="btn btn-danger mx-2">Thêm</button>
                            <a href="/adminunit" class="btn btn-secondary mx-2">Trở Về</a>
                        </div>
                    </EditForm>

                    @if (!string.IsNullOrEmpty(successMessage))
                    {
                        <div class="alert alert-success mt-3 text-center">
                            @successMessage
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <div class="alert alert-danger mt-3 text-center">
                            @errorMessage
                        </div>
                    }
                }
                else
                {
                    <p>Loading...</p>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private string errorMessage;
    private string successMessage;
    private DATN.Shared.Unit unit = new DATN.Shared.Unit();
    private IBrowserFile selectedFile;
    private bool isLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        isLoaded = true;
    }

    private async Task CreateUnit()
    {
        try
        {
            var response = await httpClient.PostAsJsonAsync("api/Unit/AddUnit", unit);

            if (response.IsSuccessStatusCode)
            {
                successMessage = "Success";
                errorMessage = string.Empty;
                await JS.InvokeVoidAsync("showAlert", "success", "Thành Công");
                Navigation.NavigateTo("/adminunit");
            }
            else
            {
                var errorContent = await response.Content.ReadAsStringAsync();
                errorMessage = $"Lỗi khi thêm danh mục: {errorContent}";
                await JS.InvokeVoidAsync("showAlert", "error", "Lỗi", "Thất Bại");
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Đã xảy ra lỗi: {ex.Message}";
            successMessage = string.Empty;
            await JS.InvokeVoidAsync("showAlert", "error", "Lỗi", "Thất Bại");
        }

        StateHasChanged();
    }

}
