@page "/createshifte"
@using DATN.Shared
@layout LayoutAdmin
@inject HttpClient httpClient
@inject NavigationManager Navigation

<div class="row justify-content-center mt-3 p-5">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-danger text-white">
                <h5 class="text-center mb-0">add Product</h5>
            </div>
            <div class="card-body">
                @if (isLoaded)
                {
                    <EditForm Model="@shifte" OnValidSubmit="CreateShifte" Context="editFormContext">
                        <DataAnnotationsValidator />
                        <div class="text-danger mb-3">
                            <ValidationSummary />
                        </div>

                        <div class="form-group">
                            <label for="Shifte_Name" class="control-label"><strong>Shifte_Name</strong></label>
                            <input id="Shifte_Name" @bind="shifte.Shifte_Name" class="form-control" placeholder="Shifte_Name" />
                            <ValidationMessage For="@(() => shifte.Shifte_Name)" />
                        </div>

                        <div class="form-group">
                            <label for="StartTime" class="control-label"><strong>StartTime</strong></label>
                            <input id="StartTime" @bind="shifte.StartTime" class="form-control" placeholder="StartTime" />
                            <ValidationMessage For="@(() => shifte.StartTime)" />
                        </div>

                        <div class="form-group">
                            <label for="EndTime" class="control-label"><strong>EndTime</strong></label>
                            <input id="EndTime" @bind="shifte.EndTime" class="form-control" placeholder="EndTime" />
                            <ValidationMessage For="@(() => shifte.EndTime)" />
                        </div>

                        <div class="form-group text-center">
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-danger mx-2">Thêm</button>
                                <a href="/admincategory" class="btn btn-secondary mx-2">Quay Về</a>
                            </div>
                        </div>
                    </EditForm>
                    @if (!string.IsNullOrEmpty(successMessage))
                    {
                        <div class="alert alert-success mt-3">
                            @successMessage
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <div class="alert alert-danger mt-3">
                            @errorMessage
                        </div>
                    }
                }
                else
                {
                    <p>Loading...</p>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private string errorMessage;
    private string successMessage;
    private DATN.Shared.Shifte shifte = new DATN.Shared.Shifte();
    private IBrowserFile selectedFile;
    private bool isLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        isLoaded = true;
    }

    private async Task CreateShifte()
    {
        try
        {
            var response = await httpClient.PostAsJsonAsync("api/Shifte/AddShifte", shifte);

            if (response.IsSuccessStatusCode)
            {
                successMessage = "Thêm thành công!";
                errorMessage = string.Empty;
                Navigation.NavigateTo("/adminshifte");
            }
            else
            {
                var errorContent = await response.Content.ReadAsStringAsync();
                errorMessage = $"Error : {errorContent}";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Đã xảy ra lỗi: {ex.Message}";
            successMessage = string.Empty;
        }

        StateHasChanged();
    }
}
