@page "/admin/admincategory"


@using DATN.Shared
@layout LayoutAdmin
@inject HttpClient httpClient
@inject NavigationManager Navigation

<style>
    .product-table-container {
        max-height: 600px;
        overflow-y: auto;
    }

        .product-table-container table {
            width: 100%;
        }

    .search-bar, .filter-bar {
        margin-bottom: 20px;
    }
</style>
<AuthorizeView Roles="admin">
    <Authorized>
        @if (isLoaded)
        {
            <button class="btn btn-success" @onclick="() => CreateCategory()">Thêm Danh Mục</button>
            <hr />
            <h4>Danh Mục</h4>
            <div class="search-bar">
                <input type="text" class="form-control" placeholder="Tìm Kiếm Danh Mục..." @oninput="FilterCategories" />
            </div>
            <div class="product-table-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Category Name</th>
                            <th>CustomerId</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cate in filteredCategory)
                        {
                            <tr>
                                <td>@cate.CategoryName</td>
                                <td>@cate.CategoryDescription</td>
                                <td class="text-center">
                                    @if (!cate.IsDeleted)
                                    {
                                        <button class="btn btn-primary" @onclick="() => EditCategory(cate.CategoryId)">Sửa</button>
                                        <button class="btn btn-danger" @onclick="() => HideCategory(cate.CategoryId)">Ẩn</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-warning" @onclick="() => RestoreCategory(cate.CategoryId)">Khôi Phục</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else if (!string.IsNullOrEmpty(errorMessage))
        {
            <p class="text-danger">@errorMessage</p>
        }
        else
        {
            <p>Loading...</p>
        }
    </Authorized>
    <NotAuthorized>
        <h3>Không có quyền truy cập</h3>
    </NotAuthorized>
</AuthorizeView>
