@page "/login-admin"
@using DATN.Client.Service
@layout InitLayout
@inject HttpClient httpClient
@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject AuthenticationStateProvider authenticationStateProvider
@inject LocalStorageService _localStorageService


<style>
    body {
        background-color: #F2F2F2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .login-card {
        background-color: white;
        border-radius: 10px;
        padding: 30px;
        width: 100%;
        max-width: 400px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }

    .btn-primary-custom {
        background-color: #d35400;
        border: none;
        border-radius: 20px;
        padding: 10px 0;
        width: 100%;
        font-weight: bold;
    }

        .btn-primary-custom:hover {
            background-color: #e67e22;
        }
</style>

@if (IsProcess)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="frame-parent">
        <div class="frame-wrapper">
            <div class="frame-group">
                <div class="frame-container d-flex align-items-center justify-content-between">
                    <a class="nav-link" href="/"><i class="fas fa-arrow-left fs-2"></i></a>
                    <h1 class="foodgo m-0 text-center" style="font-size: 40px">Foodgo</h1>
                    <div class="ellipse4-31-iphone13mini-1-wrapper">
                        <img class="ellipse4-31-iphone13mini-1-icon" loading="lazy" alt="" src="/images/hinhanh/hambuger.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-card">
        <h3 class="text-center mb-4">Đăng nhập</h3>
        <EditForm Model="@loginUser" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <div class="mb-3">
                <InputText class="form-control" placeholder="Email" @bind-Value="loginUser.Email" />
                <ValidationMessage For="@(() => loginUser.Email)" />
            </div>
            <div class="mb-3">
                <InputText type="password" class="form-control" placeholder="Mật khẩu" @bind-Value="loginUser.Password" />
                <ValidationMessage For="@(() => loginUser.Password)" />
            </div>
            <button type="submit" @onclick="HandleLogin" class="btn btn-primary-custom">Đăng nhập</button>
        </EditForm>
        <div class="d-flex justify-content-center mt-2">
            <a href="/forgotpassword" class="custom-link text-center">Quên mật khẩu</a>
        </div>
        @if (loginFailed)
        {
            <div class="alert alert-danger mt-3">Email hoặc mật khẩu không chính xác.</div>
        }
    </div>
}





