@page "/manager-chef"

@layout EmployeeLayout
@inject HttpClient httpClient
@inject IJSRuntime JS
@inject LocalStorageService _localStorageService
@inject NavigationManager Navigation

<style>
    .food-item {
        position: relative;
        padding: 15px;
        background: #f8f9fa;
        border-radius: 8px;
        margin-bottom: 10px;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

        .food-item.removing {
            transition: none;
        }

    .food-name {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .food-description {
        color: #6c757d;
    }

    .food-list {
        max-width: 600px;
        margin: 20px auto;
    }
</style>

<div class="container">
    <h2 class="text-center my-4">Food List</h2>
    <div class="food-list" id="foodList">
        @if (cartDTOs != null && cartDTOs.Count > 0)
        {
            <div class="card">
                <div class="card-header">
                    Bàn số: @numberTable
                </div>
                <div class="card-body">
                    @foreach (var item in cartDTOs)
                    {
                        <div class="food-item shadow-sm p-3 rounded">
                            <div class="food-name">@item.ProductName</div>
                            <div class="food-description">@item.Quantity</div>
                        </div>
                    }
                </div>
                <div class="card-footer">
                    Ghi chú: @Note
                </div>
            </div>

        }
        else
        {
            <div class="food-item shadow-sm p-3 rounded">
                <div class="food-name">
                    Chưa có món ăn
                </div>
            </div>
        }

    </div>
</div>