@page "/accumulatedpoints"
<body>
	<div class="container mt-5 row">
        <div class="d-flex d-inline-block">
            <div class="align-items-start">
                <a href="userinfo" class="link-dark fw-semibold">
                    <i class="bi bi-box-arrow-left" style="font-size: 20px;"></i>
                </a>
            </div>
            <h5 class="text-center mx-auto mb-4 fw-semibold">Đổi điểm tích lũy</h5>
        </div>

        <div class="point text-end">
            <img src="/image/Voucher/award.png" alt="Điểm" /> 1000 điểm
        </div>

        <!-- First Item -->
        <div class="d-flex flex-row align-items-center pt-2 p-0">
            <div class="icon-badge bg-img-custom rounded-4">
                <img src="/image/Voucher/Voucher-1.png" alt="Voucher" class="img-fluid">
            </div>
            <div class="ms-3 pt-3">
                <h5 class="fw-semibold " style="font-size: 15px;">Giảm 15% cho món nướng</h5>
                <div class="d-flex align-items-center" style="font-size:11px;">
                    <i class="bi bi-clock me-2"></i> 18/8/2024 &nbsp; <strong>3.000.000 điểm </strong>
                </div>
                <p class="expired text-danger fw-semibold" style="font-size: 15px;">6 ngày trước </p>
            </div>
            <div class="d-flex flex-row align-items-center ms-auto">
                <img src="/image/Voucher/award.png" alt="Điểm" style="width: 20px;" />
                <div class="round ms-2">
                    <input type="checkbox" id="checkbox-1" />
                    <label for="checkbox-1"></label>
                </div>
            </div>
        </div>

        <!-- Second Item -->
        <div class="d-flex flex-row align-items-center pt-2 p-0">
            <div class="icon-badge bg-img-custom rounded-4">
                <img src="/image/Voucher/Voucher-1.png" alt="Voucher" class="img-fluid">
            </div>
            <div class="ms-3 pt-3">
                <h5 class="fw-semibold " style="font-size: 15px;">Giảm 2% các món</h5>
                <div class="d-flex align-items-center" style="font-size:11px;">
                    <i class="bi bi-clock me-2"></i> 18/8/2024 &nbsp; <strong>10.000 điểm </strong>
                </div>
                <p class="expired text-danger fw-semibold" style="font-size: 15px;">6 ngày trước </p>
            </div>
            <div class="d-flex flex-row align-items-center ms-auto">
                <img src="/image/Voucher/award.png" alt="Điểm" style="width: 20px;" />
                <div class="round ms-2">
                    <input type="checkbox" id="checkbox-2" />
                    <label for="checkbox-2"></label>
                </div>
            </div>
        </div>

        <!-- Third Item -->
        <div class="d-flex flex-row align-items-center pt-2 p-0">
            <div class="icon-badge bg-img-custom rounded-4">
                <img src="/image/Voucher/Charity_voucher.png" alt="Voucher" class="img-fluid">
            </div>
            <div class="ms-3">
                <h5 class="fw-semibold " style="font-size: 15px;">Quyên góp quỹ từ thiện</h5>
            </div>
            <div class="d-flex flex-row align-items-center ms-auto">
                <img src="/image/Voucher/award.png" alt="Điểm" style="width: 20px;" />
                <div class="round ms-2">
                    <input type="checkbox" id="checkbox-3" />
                    <label for="checkbox-3"></label>
                </div>
            </div>
        </div>
	</div>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid justify-content-around">
            <a href="#" class="nav-link"> <img src="image/vectors/icons8-home.svg" alt=""></a>
            <a href="#" class="nav-link"> <img src="image/vectors/shopping_list_117_x2.svg"></a>
            <a href="#" class="nav-link"> <img src="image/vectors/rectangle_16_x2 (1).svg" alt=""></a>
            <a href="#" class="nav-link"> <img src="image/vectors/icons8-user-30.png"></a>
        </div>
    </nav>
</body>