@page "/admincategory"
@using DATN.Shared
@inject HttpClient httpClient
@inject NavigationManager Navigation


<style>
    .product-table-container {
        max-height: 600px;
        overflow-y: auto;
    }

        .product-table-container table {
            width: 100%;
        }

    .search-bar, .filter-bar {
        margin-bottom: 20px;
    }
</style>

@if (isLoaded)
{
    <button class="btn btn-success" @onclick="() => CreateCategory()">Thêm</button>
    <hr />
    <h4>Quản lý danh mục</h4>
    <div class="search-bar">
        <input type="text" class="form-control" placeholder="Tìm kiếm danh mục..." @oninput="FilterCategories" />
    </div>
    <div class="product-table-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên danh mục</th>
                    <th>Ghi chú</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cate in filteredCategory)
                {
                    <tr>
                        <td>@cate.CategoryName</td>
                        <td>@cate.CategoryDescription</td>
                        <td class="text-center">
                            @if (!cate.IsDelete)
                            {
                                <button class="btn btn-primary" @onclick="() => EditCategory(cate.CategoryId)">Sửa</button>
                                <button class="btn btn-danger" @onclick="() => HideProd(cate.CategoryId)">Ẩn</button>
                            }
                            else
                            {
                                <button class="btn btn-warning" @onclick="() => RestoreProd(cate.CategoryId)">Khôi phục</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else if (!string.IsNullOrEmpty(errorMessage))
{
    <p class="text-danger">@errorMessage</p>
}
else
{
    <p>Loading...</p>
}

