@page "/demoIndex"
@using DATN.Client.Service
@inject NavigationManager Navigation
@inject HttpClient httpClient
@inject CartService _cartService
@inject LocalStorageService _localStorageService
@inject IJSRuntime JS
@layout MainLayout

@if (isLoad)
{
    <div class="w-100 h-100 bg-black">
        <div class="layout-rain">
            <div class="bubbles" id="bubbles">
                <img src="images/shipper.png" class="shipper" alt="">
            </div>
        </div>
    </div>
}
else
{
    @if (isBookTable)
    {
        <div class="card">
            <div class="card-header">
                Thông báo
            </div>
            <div class="card-body">
                Bàn này đã được đặt trước vui lòng chọn bàn khác
            </div>
        </div>
    }
}




