@page "/logout"
@using DATN.Client.Service
@layout MainLayout
@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject CustomAuthenticationStateProvider authenticationStateProvider
@inject LocalStorageService _localStorageService;

<h3>Logouting...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;
        await customAuthStateProvider.Logout();

        Navigation.NavigateTo("/login", true);
    }
}