@page "/order-list"
@using DATN.Client.Service
@using DATN.Shared
@inject HttpClient httpClient
@inject CartService _cartService
@inject NavigationManager Navigation
@inject LocalStorageService _localStorageService
@inject IJSRuntime JS

<nav class="navbar navbar-light bg-white">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="user-icon">
            <img src="images/hinhanh/ellipse_431_iphone_13_mini_1.jpeg" alt="User" class="rounded-circle" width="50" height="50">
        </div>
    </div>
</nav>
<div class="container mt-4">
    <h4 style="text-align: center;">Danh sách gọi món</h4>
    @if(cartItems == null)
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach(var item in cartItems)
        {
            <div class="card mb-3 p-2 shadow-sm" style="max-width: 400px; border-radius: 15px;">
                <div class="row">
                    <div class="col-3">
                        <img src="images/hinhanh/menu_photo_2.jpeg" class="img-fluid rounded" alt="Chicken Burger">
                    </div>
                    <div class="col-7">
                        <div class="card-body p-2">
                            <h5 class="card-title mb-1">@item.ProductName</h5>
                            <p class="text-muted mb-1">Burger Factory LTD</p>
                            <p class="price text-danger mb-1">@item.Price.ToString("###,0##") VND</p>
                            <p class="mb-0">Số lượng: @item.Quantity</p>
                        </div>
                    </div>
                    <div class="col-2 d-flex align-items-center">
                        <a @onclick="() => RemoveFromCart(item)" class="w-100 h-25 btn-warning rounded d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-trash" style="color:#ed1f1f"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
        
    }
 

    <div class="total-section">
        <div class="d-flex justify-content-between">
            <p class="mb-0">Tổng tiền</p>
            <p class="mb-0"><strong>@Total.ToString("###,0##") VND</strong></p>
        </div>
        <button @onclick="Order" type="button" class="btn btn-warning w-100 mt-2">
            Gọi món ăn
        </button>
    </div>
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid justify-content-around">
        <a href="#" class="nav-link"> <img src="images/vectors/icons8-home.svg" alt=""><i class="bi bi-house"></i></a>
        <a href="#" class="nav-link"> <img src="images/vectors/shopping_list_117_x2.svg"><i class="bi bi-card-list"></i></a>
        <a href="#" class="nav-link"> <img src="images/vectors/rectangle_16_x2 (1).svg" alt=""><i class="bi bi-bookmark"></i></a>
        <a href="#" class="nav-link"> <img src="images/vectors/icons8-user-30.png"><i class="bi bi-person"></i></a>
    </div>
</nav>
