@page "/passwordchange"
@inject HttpClient Http
@layout MainLayout
@using DATN.Shared
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation

<EditForm Model="@changepassRequest" OnValidSubmit="SendOtp">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <body>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="d-flex d-inline-block">
                        <div class="align-items-start">
                            <a href="userinfo" class="link-dark fw-semibold">
                                <i class="bi bi-box-arrow-left" style="font-size: 20px;"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="card p-4 shadow-sm" style="max-width: 400px; margin: auto;">
            <h4 class="text-center mb-4">Đổi mật khẩu</h4>

            @if (!isOtpSent)
            {
                <div class="form-group">
                    <label for="email">Email:</label>
                    <InputText id="email" class="form-control" @bind-Value="changepassRequest.Email" placeholder="Nhập email của bạn" />
                </div>

                <button type="submit" class="submit-btn fw-semibold shadow btn-block">Gửi mã OTP</button>
            }

            @if (isOtpSent)
            {
                <div class="form-group">
                    <label for="otp">Mã OTP:</label>
                    <InputText id="otp" class="form-control" @bind-Value="changepassRequest.Otp" placeholder="Nhập mã OTP" />
                </div>

                <div class="form-group">
                    <label for="newPassword">Mật khẩu mới:</label>
                    <InputText id="newPassword" class="form-control" type="password" @bind-Value="changepassRequest.NewPassword" placeholder="Nhập mật khẩu mới" />
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Xác nhận mật khẩu:</label>
                    <InputText id="confirmPassword" class="form-control" type="password" @bind-Value="changepassRequest.ConfirmPassword" placeholder="Xác nhận mật khẩu mới" />
                </div>

                <button type="submit" class="submit-btn fw-semibold shadow btn-block">Đổi mật khẩu</button>
            }
        </div>
    </body>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid justify-content-around">
            <a href="/" class="nav-link"><i class="bi bi-house"></i></a>
            <a href="/order-list" class="nav-link"><i class="bi bi-card-list"></i></a>
            <a href="/food-ordered" class="nav-link"><i class="bi bi-bookmark"></i></a>
            <a href="/userinfo" class="nav-link"><i class="bi bi-person" style="color: orange"></i></a>
        </div>
    </nav>
</EditForm>

