@page "/paswordchange"

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="d-flex d-inline-block">
                    <div class="align-items-start">
                        <a href="userseting" class="link-dark fw-semibold">
                            <i class="bi bi-box-arrow-left" style="font-size: 20px;"></i>
                        </a>
                    </div>
                    <h4 class="text-center mx-auto mb-4 fw-semibold">Đổi mật khẩu</h4>
                </div>

                <div class="form-container mx-auto">
                    <h2>Nhập mật khẩu mới</h2>
                    <form action="#" method="POST">
                        <div class="input-group">
                            <input type="password" class="new-password" id="new-password" placeholder="Mật khẩu mới">
                        </div>
                        <div class="input-group">
                            <input type="password" class="confirm-password" id="confirm-password" placeholder="Nhập lại mật khẩu mới">
                        </div>
                        <button type="submit" class="submit-btn mt-5 fw-semibold">Lưu mật khẩu mới</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
