@page "/paswordchange"

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="d-flex d-inline-block">
                    <div class="align-items-start">
                        <a href="userinfo" class="link-dark fw-semibold">
                            <i class="bi bi-box-arrow-left" style="font-size: 20px;"></i>
                        </a>
                    </div>
                    <h4 class="text-center mx-auto mb-4 fw-semibold">Đổi mật khẩu</h4>
                </div>

                <div class="mx-auto">
                    <p style="font-size:13px;" class="fw-light text-seccondary text-body-secondary">Nhập mật khẩu mới</p>
                    <form action="#" method="POST">
                        <div class="input-group mb-3">
                            <input type="password" class="form-control rounded-5 custom-input bg-light shadow" id="new-password" placeholder="Mật khẩu mới">
                        </div>
                        <div class="input-group">
                            <input type="password" class="form-control rounded-5 custom-input bg-light shadow" id="confirm-password" placeholder="Nhập lại mật khẩu mới">
                        </div>
                        <button type="submit" class="submit-btn mt-5 fw-semibold shadow">Lưu mật khẩu mới</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid justify-content-around">
            <a href="#" class="nav-link"> <img src="image/vectors/icons8-home.svg" alt=""></a>
            <a href="#" class="nav-link"> <img src="image/vectors/shopping_list_117_x2.svg"></a>
            <a href="#" class="nav-link"> <img src="image/vectors/rectangle_16_x2 (1).svg" alt=""></a>
            <a href="#" class="nav-link"> <img src="image/vectors/icons8-user-30.png"></a>
        </div>
    </nav>
</body>
