@page "/purchasehistory"
<body>
    <div class="d-flex d-inline-block">
        <div class="align-items-start">
            <a href="userinfo" class="link-dark fw-semibold">
                <i class="bi bi-box-arrow-left" style="font-size: 20px;"></i>
            </a>
        </div>
        <h5 class="text-center mx-auto mb-4 fw-semibold">Lịch sử mua hàng</h5>
    </div>

    <div class="container mt-4">
        <div class="food-item row align-items-center mt-4 mb-2">
            <div class="col-auto">
                <img src="/image/Food/food-1.png" alt="Chicken Burger" class="food-image">
            </div>
            <div class="col">
                <p class="mb-1 fw-semibold" style="font-size:15px;">Chicken Burger</p>
                <p class="mb-1 text-semibold " style="font-size:12px;">120.000 VND</p>
                <p class="mb-0 food-status fw-semibold" style="font-size:14px; color:#2ECC71;">đã thanh toán</p>
            </div>
        </div>

        <div class="food-item row align-items-center mt-4 mb-2">
            <div class="col-auto">
                <img src="/image/Food/food-1.png" alt="Chicken Burger" class="food-image">
            </div>
            <div class="col">
                <p class="mb-1 fw-semibold" style="font-size:15px;">Chicken Burger</p>
                <p class="mb-1 text-semibold " style="font-size:12px;">120.000 VND</p>
                <p class="mb-0 food-status fw-semibold" style="font-size:14px; color:#2ECC71;">đã thanh toán</p>
            </div>
        </div>

        <div class="food-item row align-items-center mt-4 mb-2">
            <div class="col-auto">
                <img src="/image/Food/food-1.png" alt="Chicken Burger" class="food-image">
            </div>
            <div class="col">
                <p class="mb-1 fw-semibold" style="font-size:15px;">Chicken Burger</p>
                <p class="mb-1 text-semibold " style="font-size:12px;">120.000 VND</p>
                <p class="mb-0 food-status fw-semibold" style="font-size:14px; color:#2ECC71;">đã thanh toán</p>
            </div>
        </div>
    </div>

    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid justify-content-around">
            <a href="#" class="nav-link"> <img src="image/vectors/icons8-home.svg" alt=""></a>
            <a href="#" class="nav-link"> <img src="image/vectors/shopping_list_117_x2.svg"></a>
            <a href="#" class="nav-link"> <img src="image/vectors/rectangle_16_x2 (1).svg" alt=""></a>
            <a href="#" class="nav-link"> <img src="image/vectors/icons8-user-30.png"></a>
        </div>
    </nav>
</body>