@page "/userseting"
<body>
    <div class="container container-custom">
        <div class="profile-section">
            <div class="points">1000 điểm <span class="icon">🏅</span></div>
            <div class="profile-img">
                <img src="./css/UserCss/Image/user1.jpg" alt="User Image">
            </div>
            <div class="user-info">
                <h2>username</h2>
                <p>+84 123456789</p>
            </div>
        </div>

        <ul class="menu-list">
            <li><a href="personalinformation">Thông tin cá nhân <span>></span></a></li>
            <li><a href="paswordchange">Đổi mật khẩu <span>></span></a></li>
            <li><a href="connnectbank">Liên kết ngân hàng <span>></span></a></li>
            <li><a href="#">Đổi điểm tích lũy <span>></span></a></li>
            <li><a href="#">Lịch sử mua hàng <span>></span></a></li>
            <li><a href="#">About Us <span>></span></a></li>
            <li><a href="#">Contact Us <span>></span></a></li>
        </ul>

        <button class="logout-btn">Đăng xuất</button>

        <div class="navbar ">
            <div class="nav-item"><i class="icon">🏠</i></div>
            <div class="nav-item"><i class="icon">🛍</i></div>
            <div class="nav-item"><i class="icon">👤</i></div>
            <div class="nav-item"><i class="icon">⚙️</i></div>
        </div>
    </div>
</body>
