@page "/userinfo"
<body>
    <div class="container container-custom">
        <div class="profile-section">
            <div class="points">1000 điểm <span class="icon">🏅</span></div>
            <div class="profile-img">
                <img src="./css/UserCss/Image/user1.jpg" alt="User Image">
            </div>
            <div class="user-info">
                <h2>username</h2>
                <p>+84 123456789</p>
            </div>
        </div>

        <ul class="menu-list">
            <li><a href="personalinformation">Thông tin cá nhân <span>></span></a></li>
            <li><a href="paswordchange">Đổi mật khẩu <span>></span></a></li>
            <li><a href="connnectbank">Liên kết ngân hàng <span>></span></a></li>
            <li><a href="accumulatedpoints">Đổi điểm tích lũy <span>></span></a></li>
            <li><a href="purchasehistory">Lịch sử mua hàng <span>></span></a></li>
        </ul>

        <button class="logout-btn bg-dark border-dark shadow">Đăng xuất</button>

        <nav class="navbar fixed-bottom navbar-light bg-light">
            <div class="container-fluid justify-content-around">
                <a href="#" class="nav-link"> <img src="image/vectors/icons8-home.svg" alt=""></a>
                <a href="#" class="nav-link"> <img src="image/vectors/shopping_list_117_x2.svg"></a>
                <a href="#" class="nav-link"> <img src="image/vectors/rectangle_16_x2 (1).svg" alt=""></a>
                <a href="#" class="nav-link"> <img src="image/vectors/icons8-user-30.png"></a>
            </div>
        </nav>
    </div>
</body>
