@page "/customer"
@layout MainLayout
@inject HttpClient httpClient
@inject IJSRuntime JS
@inject LocalStorageService _localStorageService
@inject NavigationManager Navigation
<style>
    #video-container {
        position: relative;
        margin: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    #localVideo {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 120px;
        height: 90px;
        z-index: 10;
        display: block;
        opacity: 1;
    }

    #remoteVideo {
        width: 100%;
        height: 100%;
        display: block;
        opacity: 1;
    }

    video {
        display: none;
    } 

    #action-buttons {
        margin: auto;
        text-align: center;
        margin-top: 20px;
    }

    .caller-name{
        font-size: 25px !important;
    }

    .hidden-first {
        display: none;
    }
</style>

<div class="container body-voice-custom rounded">

    <div id="particles-js"></div>

    <div class="phone-call-box" id="call-box">
        <div class="caller-info">
            <div class="caller-name">Đang gọi đến @to</div>
        </div>
        <div id="video-container">
            <video id="localVideo" autoplay muted></video>
            <video id="remoteVideo" autoplay></video>
        </div>
        <div class="call-message" id="call-message">Đang gọi nhân viên...</div>
        <div class="call-actions" id="call-actions">
            <button class="btn-action btn-reject" id="btn-end" @onclick="EndCall">
                <i class="bi bi-telephone-x-fill" style="font-size: 24px;"></i>
                <span>Kết thúc</span>
            </button>
            <button class="btn-action btn-answer" id="btn-answer" hidden>
                <i class="bi bi-telephone-fill" style="font-size: 24px;"></i>
                <span>Nhận</span>
            </button>
            <button class="btn-action btn-reject" id="btn-reject" hidden>
                <i class="bi bi-telephone-down-fill" style="font-size: 24px;"></i>
                <span>Từ chối</span>
            </button>
            <button class="btn-action btn-reject" id="btn-call" hidden>
                <i class="bi bi-telephone-down-fill" style="font-size: 24px;"></i>
                <span>Gọi</span>
            </button>
        </div>
    </div>
</div>