
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}

.input-group {
    margin-bottom: 15px;
}

.new-password, .confirm-password {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    font-size: 14px;
}


.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .submit-btn:hover {
        background-color: #e65c00;
    }
