
body {
    background-color: #FFFFFF;
}
.custom-input{
    height: 50px;
    border:none;
    outline:none;
    font-size:14px;
}

.new-password, .confirm-password {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    font-size: 14px;
}


.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .submit-btn:hover {
        background-color: #e65c00;
    }
