@inherits LayoutComponentBase
@inject LocalStorageService _localStorageService
@inject HttpClient httpClient
@inject IJSRuntime JS

<CascadingAuthenticationState>
    <AuthorizeView Roles="1,3">
        <Authorized>

            <div class="container-scroller col-md-12" style="max-height: 950px">
                <NavAdmin />
                <!-- partial -->
                <div class="container-fluid page-body-wrapper">
                    <!-- partial -->
                    <div class="col-md-12 p-5">
                        @Body
                    </div>
                    <!-- main-panel ends -->
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <h1>Trang chỉ dành cho Admin</h1>
        </NotAuthorized>
    </AuthorizeView>


</CascadingAuthenticationState>

