@inherits LayoutComponentBase
@using DATN.Shared
@using Microsoft.JSInterop
@inject LocalStorageService _localStorageService
@inject HttpClient httpClient
@inject IJSRuntime JS

<CascadingAuthenticationState>
     @if (String.IsNullOrEmpty(wifiIpAddress))
    {
        <div class="layout-rain">
            <div class="bubbles" id="bubbles">
                <img src="images/shipper.png" class="shipper" alt="">
                <hr class="divider">
            </div>
        </div>
    }
    else if (isAcceptWifi)
    {
        <div class="container mt-1 foodcustom">
            @Body
        </div>
    }
   else
    {
        <div class="container mt-1 foodcustom">
            @Body
        </div>
    } 


</CascadingAuthenticationState>


