@inherits LayoutComponentBase
@using DATN.Shared
@using Microsoft.JSInterop
@inject LocalStorageService _localStorageService
@inject HttpClient httpClient
@inject IJSRuntime JS

<CascadingAuthenticationState>
    @if (isAcceptWifi)
    {
        <div class="container mt-1 foodcustom">
            @Body
        </div>
    }
    else
    {
        <div class="container-fluid access-denied-container">
            <div class="access-denied-card">
                <h1>Wifi không hợp lệ</h1>
                <p>Vui lòng truy cập bằng Wifi của quán !</p>
            </div>
        </div>
    } 
</CascadingAuthenticationState>


