@inherits LayoutComponentBase


<div class="container-fluid col-md-12 row">
    <div class="col-md-2 bg-dark">
        <NavMenu />
    </div>
    <div class="col-md-10">
        @Body
    </div>

</div>

@* <div class="page">
    <div class="bg-dark" style="height:955px; width:200px;">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div> *@
