@inherits LayoutComponentBase


<div class="container-fluid col-md-12 row">
@*     <div class="col-md-2 bg-dark">
        <NavMenu />
    </div> *@
    <div class="col-md-10">
        @Body
    </div>

</div>

