@inherits LayoutComponentBase
@using DATN.Shared
@using Microsoft.JSInterop
@inject LocalStorageService _localStorageService
@inject HttpClient httpClient
@inject IJSRuntime JS


<style>
    .custom-body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
    }

    .container.foodcustom {
        flex: 1;
    }
</style>

<CascadingAuthenticationState>
    <CascadingValue Value="even_callback">
        @if (isLoading)
        {
            <div class="layout-rain">
                <div class="bubbles" id="bubbles">
                    <img src="images/shipper.png" class="shipper" alt="">
                </div>
            </div>
        }
        else if (isAcceptWifi)
        {
            <div class="custom-body">
                <div class="container mt-1 foodcustom content">
                    <section class="iphone-13-mini-2-inner mb-2">
                        <div class="frame-parent">
                            <div class="frame-wrapper">
                                <div class="frame-group">
                                    @if (string.IsNullOrEmpty(name))
                                    {
                                        <div class="frame-container">
                                            <div class="ellipse4-31-iphone13mini-1-wrapper">
                                                <img class="ellipse4-31-iphone13mini-1-icon" loading="lazy" alt="" src="/images/hinhanh/hambuger.png" />
                                            </div>
                                            <h1 class="foodgo text-center">Tech Titans</h1>
                                            <span></span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="frame-container fs-1">
                                            <div class="ellipse4-31-iphone13mini-1-wrapper p-0">
                                                <img class="ellipse4-31-iphone13mini-1-icon" loading="lazy" alt="" src="/images/hinhanh/hambuger.png" />
                                            </div>
                                            <h1 class="foodgo text-center">Tech Titans</h1>
                                            <h1 class="foodgo text-center fs-4">Xin chào: @name</h1>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </section>
                    @Body
                </div>

                <footer class="mobile-footer footer bg-light text-dark py-4">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-12 mb-3" data-aos="fade-up" data-aos-once="true">
                                <a href="#" class="text-dark mx-2 social-link"><i class="fab fa-facebook fa-2x"></i></a>
                                <a href="#" class="text-dark mx-2 social-link"><i class="fab fa-instagram fa-2x"></i></a>
                                <a href="#" class="text-dark mx-2 social-link"><i class="fab fa-twitter fa-2x"></i></a>
                            </div>
                            <div class="col-12 mb-3" data-aos="fade-up" data-aos-once="true" data-aos-delay="100">
                                <a href="#" class="text-dark mx-2 footer-link">Trang chủ</a> |
                                <a href="#" class="text-dark mx-2 footer-link">Điều khoản sử dụng</a> |
                                <a href="#" class="text-dark mx-2 footer-link">Chính sách bảo mật</a>
                            </div>
                            <div class="col-12 mb-2" data-aos="fade-up" data-aos-once="true" data-aos-delay="200">
                                <p>Địa chỉ: 127 Võ Văn Kiệt, P. An Hòa, Q. Ninh Kiều, TP. Cần Thơ</p>
                                <p>Email: restaurantvietnam@gmail.com</p>
                                <p>Phone: 0939 660 295</p>
                                <br>
                                <p class="small">&copy; 2024 Công ty của bạn. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        }
        else
        {
            <div class="container-fluid access-denied-container">
                <div class="access-denied-card">
                    <h1>Wifi không hợp lệ</h1>
                    <p>Vui lòng truy cập bằng Wifi của quán!</p>
                </div>
            </div>
        }
    </CascadingValue>
</CascadingAuthenticationState>



