@inherits LayoutComponentBase
@inject LocalStorageService _localStorageService
@inject HttpClient httpClient
@inject IJSRuntime JS

<CascadingAuthenticationState>
    <div class="container-scroller col-md-12" style="max-height: 950px">
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <div class="col-md-12 p-5">
                @Body
            </div>
            <!-- main-panel ends -->
        </div>
    </div>

</CascadingAuthenticationState>


